<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Word Count</title>
    <style>
      .display{
        display: grid;
        grid-template-columns: repeat(8. 1fr);
      }
    </style>
  </head>
  <body>
    <h3>Counteddddd</h3>
    <p><a href="/">Count new text</a></p>
    <br>
    <p>Length: {{count}}</p>

    <p>Your text:</p>
    <p>{{fulltext}}</p>

    <br />

    <br>

    <div class="display" style="display:grid; grid-template-columns: repeat(8, 1fr)">
      {% for word, countTotal in dictionary %}
        <p>{{word}} {{countTotal}}</p>
      {% endfor %}
    </div>

  </body>
</html>
